
<ion-content class="page-container">

  <!--SPINNER--> 
  <app-spinner *ngIf="tab == 'cambiando'"></app-spinner>
  
  <!--DIV LOCAL-->
  <div class="tab local-tab" *ngIf="tab == 'local'">
    
    <!--CARD COMENZALES-->
    <div class="card">
      
      <div class="comenzales-div">
        
        <p class="pregunta-p">¿Cuantos comenzales?</p>
        <label class="cantidad-comenzales">{{comenzales}}</label>
        
        <div class="button-section">
          <ion-button color="medium" class="boton-comenzal" (click)="agregarComenzal(1)">
            <ion-icon name="chevron-up-outline"></ion-icon>
          </ion-button>
          <ion-button color="medium" class="boton-comenzal" (click)="agregarComenzal(-1)">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
        </div>
        
      </div>
    </div>
    
    <!--CARD DISCAPACITADOS-->
    <div class="card acceso-card">
      <p>¿Necesita acceso para discapacitados?</p>
      <ion-checkbox color="bordo" (ionChange)="acceso = !acceso"></ion-checkbox>
    </div>
    
    <!--DIV ESCANEAR-->
    <div class="div-escanear">
      <!--label>Escanear codigo</label-->
      <ion-button (click)="escanear()" class="boton-escanear" color="medium">
        <ion-icon name="barcode-outline" class="icono-escanear"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
  
  <!--DIV RESERVAS-->
  <div class="tab" *ngIf="tab == 'reservas'">
    <ion-card>
      <ion-card-title>En construcción</ion-card-title>
    </ion-card>
  </div>

  <!--DIV DELIVERY-->
  <div class="tab" *ngIf="tab == 'delivery'">
    <ion-card>
      <ion-card-title>En construcción</ion-card-title>
    </ion-card>
  </div>
<!--/div-->

<!--TABS FOOTER-->
<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-toolbar">
    <ion-button (click)="cambiarTab('local')" fill="clear" color="bordo">
      <!--ion-label>Local</ion-label-->
      <ion-icon name="list-outline"></ion-icon>
    </ion-button>

    <ion-button  (click)="cambiarTab('reservas')" fill="clear" color="bordo">
      <!--ion-label>Reservas</ion-label-->
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="cambiarTab('delivery')" fill="clear" color="bordo">
      <!--ion-label>Delivery</ion-label-->
      <ion-icon name="delivery-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
