ion-header{
    --ion-background-color:#841c3a;
    text-align:center;
    --ion-font-family: "IowanOldStyleBlack";
}
  
ion-title{
    color:rgb(255, 255, 255);
}

ion-content{
    --ion-background-color:--ion-color-bordo;
    --ion-font-family: "IowanOldStyleBlack";
    --ion-background-color:#841c3a;
}

ion-input{
    border-radius:3vw;
    margin-left:3vw;
}

.itemAgregado{
    text-align: center;
}

ion-item{
    --highlight-color-focused: pink !important;
    --color:rgb(31, 31, 31);
    --background:white;
    color:black;
    border-radius:3vw;
    font-size: large;
}

.inputIcon{
    color:#841c3a;
}

ion-button{
    height:16vw;
    font-weight: bold;
    color:black;
}

.btnAceptar{
    --background: rgba(73, 161, 73, 0.89);
    margin-top:2vw;
    width:45vw;
    color:black;
}

.btnCancelar{
    --background: rgba(197, 88, 88, 0.76);
    margin-top:2vw;
    margin-left:2vw;
    width:45vw;
    color:black;
}

.btnQr{
    --background:rgba(221, 213, 96, 0.767);
    height:11vw;
    width:70vw;
}

ion-button{
    color:rgb(75, 75, 75);
}

ion-back-button{
    color:white;
}

.imgAvatar{
    height:80vw;
    width:80vw;
}

.divAvatar{
    text-align:center;
}

.lblAgregado{
    color:rgb(76, 163, 76);
    font-size:large;
}

.imgAvatar{
    border-radius:5vw;
}

.lblError{
    color:whitesmoke;
    font-size:large;
}

@media screen and (orientation:landscape) {

    ion-item{
        font-size:large;
        width:100%;
    }

    .btnAceptar,.btnCancelar{
        margin-top:3vw;
        height:10vw;
        width:30vw;
    }

    .btnQr{
        margin-top:2vw;
        height:5vw;
        width:60vw;
    }

    .lblAgregado{
        font-size:large;
    }

    .imgAvatar{
        border-radius:3vw;
        height:30vw;
        width:30vw;
    }

    .imgLogoAnon{
        height:0vh;
        width:0vw;
    }
}