#divSuperpuesto{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: black;
    animation: fade 1.2s 4s;
}

#divSplash{
    --background: none;
    background: var(--ion-color-bordo);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 1.2s 4s;
}

ion-label{
    position: absolute;
    z-index: 9999;
    color: white;
    -webkit-text-stroke: 0.1px black;
    --ion-font-family: "IowanOldStyleBlack";
}

.nombres{
    top: -30%;
    transform: scale(1.2);
    animation: haciaAbajo 0.5s 1s both;
}

.division{
    bottom: 8%;
    transform: scale(2);
    animation: haciaArriba 0.5s 1s both;
}

.icono{
    position: absolute;
    width: 30%;
    top: 40%;
    left: -30%;
    animation: inicio 0.8s 1s forwards, 
    saltar 0.3s 2s 2, 
    fin 0.8s 3s forwards;
}

/*@font-face{
    font-family: IowanOldStyleBlack;
    src: url('../assets/fonts/IowanOldStyleBlack.woff2');
}*/

*{
    font-family: IowanOldStyleBlack!important;
}

@keyframes fade{
    0%{opacity: 100%;}
    50%{opacity: 50%;}
    100%{opacity: 0%;}
}

@keyframes inicio{
    from{transform: translateX(-30%);}
    to{transform: translateX(220%);}
}

@keyframes saltar{
    0%{top: 40%;}
    50%{top: 35%;}
    100%{top: 40%;}
}

@keyframes fin{
    from{transform: translateX(220%);}
    to{transform: translateX(450%);}
}

@keyframes haciaAbajo{
    from{top: -30%}
    to{top: 5%;}
}

@keyframes haciaArriba{
    from{bottom: -30%}
    to{bottom: 8%;}
}