ion-button{
    --background:rgb(112, 112, 112);
    --color:white;
    --ion-font-family: "Noto Sans, sans-serif";
    font-weight: bold;
    font-size:5vw;
    height:15vw;
    width:40vw;
}

ion-item{
    --ion-border-color:#ff000086;
    border-radius: 1vw;
    color:black;
    --ion-background-color:#ff9b9b57;
    --ion-font-family: "Noto Sans, sans-serif";
    --color:rgb(31, 31, 31);
    font-size:5vw;
    --highlight-color-focused: pink !important;
    margin-bottom:2vw;
}

ion-item.item-has-focus > ion-label {
    color:#ff336d !important;
}

ion-label{
    text-align:center;
}

ion-fab-button{
    --background:rgb(112, 112, 112);
    margin-right:5vw;
}

ion-input{
    font-weight: bold;
}
ion-card-title{
    font-size:8vw;
    font-family: "Noto Sans, sans-serif";
    font-weight: bolder;
    color:rgb(24, 24, 24);
    
}

ion-content{
   --ion-background-color:#841c3a;
}

ion-card{
    width:80%;
    --background:white;
    position: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:130vw;
}

ion-icon{
    color:rgb(223, 223, 223);
}

.fabLimpiar{
    height:16vw;
    width:16vw;
}

.imgBasura{
    height:10vw;
    width:10vw;
}

.itemError{
    margin-top:6vw;
    background-color: rgb(207, 110, 126);
}

.imgLogo{
    height:40vw;
    width:auto;
}

.botones{ 
    display:flex;
    justify-content: center;
}

.logo{
    text-align:center;
}

@media screen and (orientation:landscape){
        
    ion-card{
        margin-top:0vw;
        height:47vw;
    }

    ion-card-title{    
        font-size:3vw;
    }

    ion-item{
        margin-top:0vw;
        height:8vw;
        font-size:3vw; 
    }

    ion-label{
        font-size:2.5vw;
    }

    ion-input{
        height:2.5vw;
    }
    .itemError{
        margin-top:0vw;
    }
    ion-button{
        margin-top:0vw;
        height:5vw;
    }
}


.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

ion-spinner{
    transform: scale(3);
    --color: white;
}

.divSpinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vw;
    width: 25vw;
    z-index: 9998;
    background-color: whitesmoke;
    border-radius: 10%;
}