<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="logo">
        <img class="imgLogo" src="../../../assets/icono.png">
      </div>
      <ion-item>
        <ion-label position="floating">Ingrese su correo</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese su contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="pwd" name="password"></ion-input>
      </ion-item>
      <ion-item class="itemError" [hidden]=hide>
        <ion-text style="text-align:center;" color="black">{{err}}</ion-text>
      </ion-item>
      <div class="botones">        
        <ion-fab-button class="fabLimpiar" (click)="clean()"><img class="imgBasura" src="../../../assets/icon/basura.png"></ion-fab-button>
        <ion-button (click)="onSubmitLogin()" size="large">ENTRAR</ion-button>  
     </div>
     <ion-button class="botonRegistro" (click)="irRegistro()" size="large">REGISTRARSE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab class="users" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="code-slash-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="loginEmpleado()"><ion-icon name="pizza"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="loginSupervisor()"><ion-icon name="clipboard"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="loginCliente()"><ion-icon name="happy"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="loginDuenio()"><ion-icon name="key"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

<app-spinner *ngIf="spinner"></app-spinner>