<ion-header>
  <ion-toolbar>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <strong>Jugá por un descuento del 10% sobre el total!</strong>
  <br>
  <ion-button>Adivina el numero</ion-button>
  <br>
  <strong>Tenes 3 chances!</strong>
  <ion-item-divider></ion-item-divider>
  <strong>Jugá por un descuento del 10% sobre un producto!</strong>
  <br>
  <ion-button>Ta te ti</ion-button>
  <br>
  <strong>Tenes 3 chances!</strong>
  <ion-item-divider></ion-item-divider>
  <strong>Jugá por un descuento del 30% sobre el total!!</strong>
  <br>
  <ion-button>Memotest</ion-button>
  <br>
  <strong>Ojo, tenes una sola chance!</strong>
  <ion-item-divider></ion-item-divider>
</ion-content>
