@font-face{
    font-family: IowanOldStyleBlack;
    src: url('../../../assets/fonts/IowanOldStyleBlack.woff2');
}

ion-content{
    --ion-background-color: var(--ion-color-bordo);
    text-align:center;
}

ion-toolbar{
    height:7vh; 
    text-align: center;
    --ion-background-color: var(--ion-color-bordo);
    font-family: IowanOldStyleBlack;
}

ion-title{
    color:whitesmoke;
    font-size:large;
    font-family: IowanOldStyleBlack;
}

ion-button{
    --background:rgb(112, 112, 112);
    font-family: IowanOldStyleBlack;
    height:8vh;
}

strong,p, label{
    color:white;
    font-family: IowanOldStyleBlack;
}


div{
    text-align:center;
}

.divGanaste{
    background-color:green;
    height:10vh;
    width:70vw;
    display:flex;
    justify-content: center;
    border-radius: 3vh;
}

.divContainer{
    display:flex;
    justify-content: center;
}

.strongGanador{
    padding:7%;
    font-size:x-large;
}

.result{
    font-size: large;
}

.footer-toolbar{
    height:10vh;
}

.btnVolver{
    color:rgb(112, 112, 112) !important;
    --background:white;
    font-family: IowanOldStyleBlack;
    height:8vh;
}

@media screen and (orientation:landscape) {
    ion-toolbar{
        height:13vh; 
    }

    ion-button{
        margin-left:3vw;
    }

    .strongGanador{
        padding:2%;
        font-size:x-large;
    }

    .divGanaste{
        border-radius:7vh;
        height:15vh;
    }

    .footer-toolbar{
        height:15vh;
    }
}