ion-header{
    --ion-background-color: #841c3a;
    text-align: center;
    --ion-font-family: "IowanOldStyleBlack";
}

ion-title{
    color:white;
    font-size: 4.5vw;
}

ion-content{
    --ion-background-color: --ion-color-bordo;
    --ion-font-family: "IowanOldStyleBlack";
    --ion-background-color: #841c3a;
}

ion-icon{
    color: #841c3a;
    transform: scale(1.3);
}

ion-label{
    color: black;
}

ion-tab-bar{
    --color-selected: #841c3a !important;
}

ion-card{
    --ion-background-color: white;
    text-align: center;
    width: 90vw;
    height: 79vh;
    overflow: auto;
    z-index: 9999;
}

ion-button{
    --background: rgb(112, 112, 112);
}

.producto{
    background: whitesmoke;
    border: 1vw solid #841c3a;
    margin-top: 5vw;
    width: 90%;
    border-radius: 3vw;
}

h6{
    color: white;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.cuenta{
    width: 70%;
    background: rgb(112, 112, 112);
    border-radius: 5vw;
}

ion-slides{
    height: 50vw;
    --bullet-background:white;
    --bullet-background-active: var(--ion-color-bordo);
}

.imgSlide{
    border-radius: 5vw;
}