<ion-header>
  <ion-toolbar>
    <ion-tab-button class="cerrarSesion" (click)="cerrarSesion()">
      <ion-icon class="atras" name="arrow-back-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-title>{{header}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <ion-card>
      <div *ngIf="!deshabilitado">
        <br>
        <ion-button (click)="redireccionar(0)">Hacer una consulta</ion-button>
        <div *ngIf="!hayPedido">
          <br>
          <img style="width: 70vw;" src="../../../assets/icono.png">
          <h3>Todavía no realizaste ningún pedido.</h3>
          <ion-button (click)="redireccionar(1)">Hacer un pedido</ion-button>
        </div>
        <div *ngIf="hayPedido">
          <h3 style="color: black;">Estado de tu pedido:</h3>
          <h5>{{pedido.estado}}</h5>
          <div align="center" *ngFor="let producto of pedido.productos">
            <div class="producto">
              <ion-slides pager #imageSlides>
                <ion-slide *ngFor="let foto of producto.fotos; let i = index">
                  <img class="imgSlide" src="{{foto}}" [width]="screenWidth" *ngIf="i == 0">
                  <img class="imgSlide subitem-image" [src]="foto" [width]="screenWidth" *ngIf="i > 0" />
                </ion-slide>
              </ion-slides>
              <hr>
              <ion-label>Nombre: {{producto.nombre}}</ion-label>
              <hr>
              <ion-label>Cantidad: {{producto.cantidad}}</ion-label>
              <hr>
              <ion-label>Precio unitario: ${{producto.precio}} c/u.</ion-label>
              <hr>
              <ion-label>Tiempo: {{producto.tiempo}}</ion-label>
              <hr>
              <ion-label>Estado: {{producto.estado}}</ion-label>
              <hr>
            </div>
          </div>
          <div align="center">
            <div class="producto">
              <div class="cuenta"><h6>Subtotal: ${{subtotal}}</h6></div>
              <div class="cuenta"><h6>Descuento: ${{descuento}} ({{pedido.descuento}}%)</h6></div>
              <div class="cuenta"><h6>Propina: ${{propina}}</h6></div>
              <div class="cuenta"><h6>Total: ${{total}}</h6></div>
            </div>
            <ion-button *ngIf="entregado" (click)="cambiarEstado()">Confirmar entrega</ion-button>
            <br>
            <ion-label *ngIf="quierePagar">Elegí una propina para el mozo:</ion-label>
            <ion-button *ngIf="quierePagar" (click)="escanearPropina()" class="boton-escanear" color="medium">
              <ion-icon name="barcode-outline" class="icono-escanear"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
      <br>
    </ion-card>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="redireccionar(1)" [disabled]="deshabilitado || hayPedido">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="redireccionar(2)" [disabled]="deshabilitado || !hayPedido">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="redireccionar(3)" [disabled]="deshabilitado || !hayPedido">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Encuesta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<app-spinner *ngIf="spinner"></app-spinner>