/*@font-face{
    font-family: IowanOldStyleBlack;
    src: url('../../../assets/fonts/IowanOldStyleBlack.woff2');
}*/

ion-content{
    --ion-background-color: var(--ion-color-bordo);
    text-align:center;
}

ion-toolbar{
    height:7vh; 
    text-align: center;
    --ion-background-color: var(--ion-color-bordo);
    font-family: IowanOldStyleBlack;
}

ion-title{
    color:whitesmoke;
    font-size:large;
    font-family: IowanOldStyleBlack;
}

ion-item-divider{
    min-height: 1.5vh!important;
    color:white;
}

strong,p, label{
    color:white;
    font-family: IowanOldStyleBlack;
}

img{
    height:30vw;
    width:30vw;
    margin:1.6vw;
    border-radius:4vw;
}

label{
    margin-left:1vw;
}

.comentario{
    font-family: IowanOldStyleBlack;
    color:black;
    background-color:white;
    border-radius:5vw;
    margin:1vw;
}

.divGracias{
    padding:10%;
    text-align: center;
}

.flex{
    ion-button{
        margin:1vw;
        --background:rgb(112, 112, 112);
        font-family: IowanOldStyleBlack;
        margin-top:5vw;
        margin-bottom:10vh;
    }
}

ion-button{
    --background:rgb(112, 112, 112);
    font-family: IowanOldStyleBlack;
}

.btnVolverPrinc{
    margin-left:5vw;
}

.container{
    display:flex;
    justify-content: center;
}

.centrar{
    text-align:center;
    background-color: rgb(184, 1, 1);
    border-radius: 5vh;
    width: 80vw;
}

.error{
    font-size: x-large;
}

.strongEnviado{
    font-size : x-large;
}

.divGracias{
    margin-top:15vh;
}

.btnEstadisticas{
    margin-top:10vh;
    height:10vh;
    width:40vh;
    font-size:large;
}

.btnVolver{
    margin-top:5vh;
    height:10vh;
    width:30vh;
    font-size:large;
}

.footer-toolbar{
    height:10vh;
}

.formSelect{
    width : 100%;
    text-align: center;
}

.centrarSelect{
    display:flex;
    justify-content: center;
}

@media screen and (orientation:landscape) {
    ion-toolbar{
        height:13vh; 
    }

    ion-button{
        margin-left:3vw;
    }

    .footer-toolbar{
        height:15vh;
    }

    .divGracias{
        margin-top:10vh;
    }

    .btnEstadisticas{
        margin-top:10vh;
        height:20vh;
        width:70vh;
        font-size:large;
    }
    
    .btnVolver{
        margin-top:10vh;
        height:20vh;
        width:50vh;
    }
}